/* 
    Document   : Estilo General
    Author     : Angel Gonzalez
    Description: estilo general del demo
	Color nav active :#cd1041
	boder nav active :#a50d33;

*/
body {
  padding-top: 85px;
  padding-bottom: 30px;
  background: #252525;
}

/*==================COLORS======================*/
.color2{
	background-color: #cd1041;
	color: #fff;
}
.color2 .iconRounded {
	background-color: #46b0c3;
	color: #fff;
	border: 1px solid #fff;
}
.color2 .boxIcon a{
	background-color: #cd1041;
	color: #46b0c3;
	border: 2px solid #46b0c3
}

.color2 h1,h2,h3,h4{
	color: #fff;
}

/*==================HEADER======================*/
.wrapper > .navbar-fixed-top{
	clear: both;
}
#main-header{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
	background: #252525;
	min-height: 90px;

}

.navbar{
	margin-top: 0;
}
.navbar-default {
	background: none;
	border: none;
}
.navbar-default .navbar-nav li > a {
	margin-top: 10px;
}

.navbar-default .navbar-nav li > a.active {
	color: #fff;
	background: #cd1041;
	border-bottom: 4px solid #a50d33;
	margin-top: 10px;
	
}
.nav-pills li a {
	color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: #868585;
	font-weight: bold;;
}
.nav-pills>li>a:hover{
	background-color: #868585;
}

section {	
	position: relative;
	display: block;
}

.content {
	min-height: 550px;
	background: #fff;
}

.usr-profile{
	position: absolute;
	top: -10px;
	left: 10%;
	border: 1px solid #ccc;
	background: #fff;
	min-height: 250px;
	min-width: 250px;

}
.usr-profile > i{
	background: #fff;
	margin: 5%;
	font-size: 150px;
}

.bar{
	background-color: #939393;
	color: #fff;
	width: 100%;
	min-height: 40px;
}

article .rating{
	border: 1px solid #ccc;
	margin: 20px auto;
	width: 500px;
	height: 280px;
}

.points {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
	font-size: 18px;
	border: 1px solid #ccc;
	width: 500px;
	margin: 0 auto;
}

.points label{
	text-align: left;
	color: #a9313d;
	font-style: italic;
}
.points > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.points > span:hover,
.points > span:hover ~ span {
 /* color: transparent;*/
}
.points > span:hover:before,
.points > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   padding-right: 5px;
   color: gold;
}




.boxIcon {
	padding: 33px;
	text-align: center;
	display: block;
	margin-bottom: 11px;

}
#paralaxSlice3 {
	margin: 75px 0 0 0;
	background-image: url('../img/parallax/parallax-4.jpg');
}

.testimonial-big-text {
	text-align: center;
	position: relative;
}


.testimonial-big-text blockquote, .testimonial-big-text h1, .testimonial-big-text h2, .testimonial-big-text h3, .testimonial-big-text p, .testimonial-big-text i {
	color: #fff;
}
.testimonial-big-text blockquote{
	background: #3E9AAB;
	margin-bottom: 0;
	font-weight: 400;
	display: inline-block;
	padding: 22px;
	text-align: center;
	font-size: 18px;
}
blockquote:before {
	position: absolute;
	right: 50;
	bottom: 70px;
	content: "\201D";
	font-size: 90px;
	color: black;
	color: rgba(0, 0, 0, 0.35);
}
blockquote:after {
	position: absolute;
	left: 40px;
	top: 120px;
	content: "\201C";
	font-size: 90px;
	color: black;
	color: rgba(0, 0, 0, 0.35);
	
}

.testimonial-big .testimonial-big-text {
	padding-top: 88px;
	padding-bottom: 88px;
}



/*============Flex SLIDER =========================*/
.FlexFullScreen{
	max-height: 500px;
	height: 500px;
}

/*============Form =========================*/
.cnt{
	width:300px;
	margin:0px;
	padding:15px;
	font-weight:bold;
	position:absolute;
	top:10%;
	left:70%;
	text-align: right;
	font-weight: bold;
	z-index: 2;
	color: #fff;
	font-size: 22px;
	line-height: 20px;
}

.trans{
	/*background-color:Transparent;*/
	color:#CC0000;
	position:absolute;
	text-align:center;
	top:10%;
	left:70%;
	min-height: 50px;
	font-size:25px;
	font-weight:bold;
	width:300px;
	border-radius: 5px;
	background: #cd1041;
	opacity: 0.5;
	z-index: 1;
}

.form1{
	position: absolute;
	top:20%;
	left: 70%;
	width:300px;
	max-height: 150px;
	z-index: 2;
	
}

.form2{
	position: absolute;
	top:20%;
	left: 70%;
	width:300px;
	min-height: 150px;
	background: #FF8F52;
	opacity: 0.5;
	z-index: 1;
}

.position-left{
	position: absolute;
	top: 10%;
	left: 15%;
}

.position-left .title{
	height: 50px;
	width: 300px;
	position: absolute;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	line-height: 40px;
	z-index: 2;
	padding: 5px;
	font-weight: bold;
}

.transparente {
	background: #cd1041;
	opacity: 0.5;
	z-index: 1;
}

.form-left{
	position: absolute;
	top: 20%;
	left: 15%;
}

.form{
	position: absolute;
	border: 5px;
	min-height: 390px;
	width: 300px;
	z-index: 2;
	padding: 10px;

}

.form-transparente{
	background: #FF8F52;
	opacity: 0.5;
	z-index: 1;

}



@media only screen (min-width: 992px)  {
	.navbar-header {
		float: left;
	}

	
}

@media only screen and (min-width: 1140px) {
	.testimonial-big-text blockquote{
		font-size: 25px;
		line-height: 33px;
	}
}